/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\000034}}
form {
  /* /input-wrapp */
  /* tarea */
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\000036}}
form .form-item {
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\0000311}}
form label.option {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\0000314}}
form label.option.block {
  display: block;
  margin: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\0000323}}
form .input-wrapp {
  background-color: #FFFFFF;
  border: 1px solid #CECECE;
  margin: 10px 0;
  padding: 5px;
  cursor: text;
  display: block;
  /* field list end */
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\0000335}}
form .input-wrapp input[type=text],
form .input-wrapp input[type=url],
form .input-wrapp input[type=tel],
form .input-wrapp input[type=email],
form .input-wrapp select {
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  padding: 0;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\0000343}}
form .input-wrapp input[type=text]:focus,
form .input-wrapp input[type=url]:focus,
form .input-wrapp input[type=tel]:focus,
form .input-wrapp input[type=email]:focus,
form .input-wrapp select:focus {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\0000351}}
form .tarea {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
form .tarea:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_form_api\.scss}line{font-family:\0000355}}
form .tarea .input-wrapp textarea {
  background: none;
  border: none;
  resize: vertical;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

/* form */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Master\/Desktop\/EA\/Form\/sass\/api\/_custom_form\.scss}line{font-family:\000031}}
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #aeaeae, #f0f0f0);
  background-image: -moz-linear-gradient(top, #aeaeae, #f0f0f0);
  background-image: -o-linear-gradient(top, #aeaeae, #f0f0f0);
  background-image: linear-gradient(top, #aeaeae, #f0f0f0);
}
