@import "compass/css3";
@import "compass/utilities";

form {
  
  .form-item {
    margin: 10px 0;
  }
  
  label {
    &.option  {
      display: inline-block;
    
      &.block {
        display: block;
        margin: 5px 0;
      }
      
    }
    
  }
  
  .input-wrapp {
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    margin: 10px 0;
    padding: 5px;
    cursor: text;
    display: block;
    
    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=email],
    select {
      background: none;
      border: none;
      margin: 0;
      width: 100%;
      padding: 0;
      outline: none;
      
      &:focus {
        outline: 0;
      }
      
    } /* field list end */
    
  } /* /input-wrapp */
  
  .tarea {
    @include legacy-pie-clearfix();
    
    .input-wrapp { 
      textarea {
        background: none;
        border: none;
        resize: vertical;
        width: 100%;
        margin: 0;
        padding: 0;
        outline: none;
      }
    }
  } /* tarea */
  
  
} /* form */
